*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

nav h1{
    font-size: 2.2rem;
    margin-top: 5rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 1.2rem;
}

nav ul a{
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    border-radius: 0.2rem;
}

nav li{
    padding: 1rem 1.2rem;
    background-color: white;
    border-radius: 0.25rem;
}

nav li:hover{
    border: 0.15rem solid #e21;
    padding: 0.85rem 1.05rem;
}

main{
    max-width: 62.5rem;
    margin-top: 5rem;
    margin-left: 12vw;
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    background-color: white;
    align-items: center;
}

#grid p{
    font-size: 1.2rem;
}

.info{
    display: grid;
    text-align: right;
    padding: 0rem 1.9rem;
    gap: 1.2rem;
    align-content: center;
    justify-items: end;
}

.info h1{
    position: relative;
}

.info h1::before{
    content: "";
    display: block;
    height: 0.3rem;
    width: 4.3rem;
    background-color: #e21;
    position: absolute;
    top: -2.7rem;
    right: -4rem;
}

.info p{
    grid-column: 1;
}

.info a{
    color: white;
    background-color: #ee2211;
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.2rem;
}

.info a:hover{
    background-color: #bf1b0d;
}

.bike img{
    width: 100%;
    height: 100%;
}


.vantagem{
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

.vantagem h1{
    font-size: 4rem;
    color: #c6c6c6;
    text-align: right;
    padding: 6rem 1.9rem;
}

.vantagens{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2.5rem 1.5rem;
}

.motor, .velocidade, .rastreador{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0.65em;
}

.vantagens h2, p{
    grid-column: 2/3;
}

.vantagens h2{
    margin-top: 1.3rem;
    font-size: 1.2rem;
}

.vantagens img{
    margin-top: 1.2rem;
    max-width: 35%;
    justify-self: end;
    margin-right: 1.2rem;
}

.motor, .rastreador{
    background-color: #f7f7f7;
}

.motor:hover, .velocidade:hover, .rastreador:hover{
    border-left: 0.35rem solid #e21;
    padding-left: 0.30rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 4rem;
    height: 6rem;
    font-size: 1.3rem;
}

@media (max-width: 1024px){
    main{
        margin-left: 0;
        margin: 20px;
    }
}

@media (max-width: 850px){
    nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .info{
        text-align: center;
        justify-items: center;
        margin-bottom: 30px;
    }

    .vantagem h1{
        text-align: center;
    }

    .info h1::before{
        display: none;
    }
    #grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .motor,.velocidade,.rastreador{
        padding: 1rem;
    }
}

@media (max-width: 500px){
    .vantagem h1 {
        font-size: 2.8rem;
        padding: 4rem 1.5rem;
    }
    footer{
        font-size: 0.9rem;
    }
}
@media (max-width: 500px){
    .vantagem h1 {
        font-size: 2rem;
        padding: 4rem 1rem;
    }
}

